## Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.log

## Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Test & coverage
[Tt]est[Rr]esults/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
*.cobertura.xml

## .NET tooling
*.DotSettings.user
BenchmarkDotNet.Artifacts/

## Python tooling
__pycache__/
*.py[cod]

## OS
.DS_Store
Thumbs.db
